@page "/books"
@using LibraryMgmtSys.Models
@using LibraryMgmtSys.Services
@inject NavigationManager Nav
@inject IAPIService API
@rendermode InteractiveServer

<PageTitle>Books</PageTitle>

<button @onclick="NewBook">Create Book</button>

<label for="search-term">Search Titles:</label>
<input id="search-term" type="text" @bind="searchTerm"/>
<button @onclick="UpdateResults">Search</button>

<table>
    <tr>
        <th>Book ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Total Copies</th>
        <th>Available Copies</th>
    </tr>
    @foreach (var book in books)
    {
        <tr>
            <td>@book.id</td>
            <td>@book.title</td>
            <td>@book.author</td>
            <td>@book.genre</td>
            <td>@book.totalCopies</td>
            <td>@book.availableCopies</td>
            <td>
                <button @onclick="() => EditBook(book.id)">Edit</button>
                <button @onclick="() => DeleteBook(book)">Delete</button>
            </td>
        </tr>
    }
</table>

@code {
    private List<Book> books = new List<Book>();

    private string searchTerm { get; set; }

    protected override async Task OnInitializedAsync()
    {
        books = await API.GetBooksAsync();
    }

    private void NewBook()
    {
        Nav.NavigateTo("/create_book");
    }

    private void EditBook(int id)
    {
        Nav.NavigateTo($"/update_book/{id}");
    }

    private async Task DeleteBook(Book book)
    {
        await API.DeleteBookAsync(book.id);
        books.Remove(book);
    }

    private async Task UpdateResults()
    {
        books = await API.GetBooksAsync(searchTerm);
    } 
}
